<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <mapping class="ru.melpholan.osmp.domain.Personal" />
        <mapping class="ru.melpholan.osmp.domain.Adreses"/>
        <mapping class="ru.melpholan.osmp.domain.Passport"/>
        <mapping class="ru.melpholan.osmp.domain.Contacts"/>
        <mapping class="ru.melpholan.osmp.domain.Shifts"/>
        <mapping class="ru.melpholan.osmp.domain.ShiftTypes"/>
        <mapping class="ru.melpholan.osmp.domain.Calls"/>
        <mapping class="ru.melpholan.osmp.domain.DoctorsErrors"/>
        <mapping class="ru.melpholan.osmp.domain.ResultOfDoctorsCalls"/>
        <mapping class="ru.melpholan.osmp.domain.GroupResultOfDoctorsCalls"/>

    </session-factory>
</hibernate-configuration>